<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="index.js"></script>
</head>
<body>
    
    <div id="app" v-cloak> <!-- v-cloak is used to hide the vue code from the user until the vue application is ready -->
        <login-form></login-form>

        <!-- 2-way data binding in vue using v-model directive -->
        <h3>{{ message }}</h3>

        <input @keyup.enter="greet" v-model="message" />

        <!-- event listening -->


        <hr>

        <!-- event handling -->
        <!-- short hand -->
        <button @click="toggleBox">Toggle Box</button><!-- v-if is like an if statement, familiar with v-show -->

        <div v-if="isVisible" class="box"></div>
        
    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function() {
                return {
                    message: 'Hello Vue!',
                    isVisible: false,
                }
            },
            // methods are objects of functions that can be used to handle events in vue js 
            methods: {
                toggleBox() {
                    this.isVisible = !this.isVisible;
                },
                greet() {
                    alert('Hello Vue!')
                }
            }
        })
        app.component('login-form', {
            template: `
                <div>
                    <input type="email" />
                    <input type="password" />
                    // <button>Submit</button>

                <div/>
            `
        }) 
        app.mount('#app')
    </script>
</body>
</html>