<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="index.js"></script>
</head>
<body>
    
    <div id="app" v-cloak> <!-- v-cloak is used to hide the vue code from the user until the vue application is ready -->
        <login-form></login-form>

        <!-- 2-way data binding in vue using v-model directive -->
        <h3>{{ message }}</h3>

        <input @keyup.enter="greet" v-model="message" />

        <!-- event listening -->


        <hr>

        <!-- event handling -->
        <!-- short hand -->
        <button @click="toggleBox">Toggle Box</button><!-- v-if is like an if statement, familiar with v-show -->

        <div v-if="isVisible" class="box"></div>
        
    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function() {
                return {
                    message: 'Hello Vue!',
                    isVisible: false,
                }
            },
            // methods are objects of functions that can be used to handle events in vue js 
            methods: {
                toggleBox() {
                    this.isVisible = !this.isVisible;
                },
                greet() {
                    alert('Hello Vue!')
                }
            }
        })
        app.component('login-form', {
            // v-model is used to bind data to an input field
            template: `
                <form @submit.prevent="handleSubmit">
                    <h3>{{ title }}</h3>
                    <p v-for="str in inputs" :key="str">{{ str }} <p/>   <!-- accessing the variables in inputs array -->
                    <custom-input v-model="email"  :label="emailLabel" /> <!-- v-bind is used to bind data to an attribute -->
                    <custom-input v-model="password" :label="passwordLabel" />
                    <button>Login</button>
                <div/>
            `,
            // creating a component array to be used in the login form
            components: ['custom-input'],
            data() {
                return {
                    title: 'Login Form',
                    inputs: [
                        'email',
                        'password',
                        'name'

                    ],
                    email: '',
                    password: '',
                    emailLabel: 'Email',
                    passwordLabel: 'Password',

                }
            }, 
            methods: {
                handleSubmit(e) {
                    e.preventDefault();
                    console.log('Form Submitted', this.email, this.password)
                }
            }
        })
        app.component('custom-input', {
            template: 
            // {{ label }}  label is a prop that is passed from the parent component to the child component and is usable after the prop is declared in the props array

            `
                <label>
                    {{ label }}
                    <input type="text" v-model="inputValue" />
                <label/>
            `,
            props: ['label', 'modelValue'], // props are used to pass data from a parent component to a child component
            // computed is an object of functions that can be used to compute data in vue js 
            computed : {
                inputValue: {
                    get() {
                        return this.modelValue
                    },

                    set(value) {
                        console.log('input value changed', value)

                        // $emit is used to emit an event from a child component to a parent component
                        this.$emit('update:modelValue', value) // v-model listens to update and updates the values of the variables

                    }
                }

            },
            
            // data() {
            //     return {
            //         inputValue : ''
            //     }
            // }
        
        })
        app.mount('#app')
    </script>
</body>
</html>